@import "/global/cultandhist.css";

h1{
    font-size: 5.944rem;
    font-family: "Trocchi", serif;
    justify-content: center;
    display: flex;
    padding: 2rem;
    color: var(--wine);
}

.main{
    background: var(--dutch-white);
}

.principal{
    font-size: 1.4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-inline: 5rem;
    display: flex;
    justify-content: space-evenly;
    margin: 4rem 12rem 6rem 12rem;
}

.principal p{
    display: inline-block;
}

.principal img{
    display: inline-block;
    height: 30rem;
    width: 20rem;
}

.sub_princial{
    font-family: "Trocchi", serif;
    font-size: 1.25rem;
    margin-inline: 6rem;
    margin-bottom: 6rem;
    display: flex;
    justify-content: space-evenly;
    margin: 4rem 12rem 6rem 12rem;
}

.sub_principal p{
    display: inline-block;
    font-size: 1.25rem;
}

.sub_principal img{
    height: 15.5rem;
    width: 27rem;
}