@import "/global/global.css";

h1{
    font-family: "Anton", serif;
    font-size: 3.344rem;
    color: var(--wine);
    margin-block: 4rem;
    justify-content: center;
    text-align: center;
    display: flex;
}

p{
    font-family: "Trocchi", serif;
    display: inline-block;
}


.primeiro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.primeiro img {
    height: 15rem;            
    width: 20rem;
    margin: 2rem;
    object-fit: cover;
}

.primeiro h2 {
    font-size: 1.9rem;        
    margin: 2rem;                
    text-align: center;        
    display: inline-block;
    margin-top: 1rem;
    margin-inline: 7rem;
    font-family: "Trocchi", sans-serif;
}

.primeiro p {
    gap: 10%;
    margin-inline: 7rem;
    margin-top: 1rem;
}

.titulo{
    display: flex;
    gap: 18%;
    margin-inline: 6rem;
    justify-content: space-between;
}

.segundo {
    background-color: var(--wine);
}

#museu{
    height: 15rem;
    width: 21rem;
}

.segundo img {
    display: inline-block;
    margin-inline: 2.5rem;
    height: 10rem;
    width: 15rem; 
    object-fit: cover;
}

.segundo h2 {
    font-family: "Anton", serif;
    color: var(--gold);
    font-size: 3rem;
    margin: 1rem;
}

.segundo h3 {
    display: inline-block;
    margin-bottom: 2.5rem;
    color: var(--gold);
    font-size: 1.6rem;
    text-align: center;
    margin-top: 1rem;
    margin-inline: 3.2rem;
}

.paragrafo{
    display: inline-block;
    margin-bottom: 6rem;
}

.paragrafo p{
    margin-right: 3rem;
}